/*ESTILOS GENERALES*/
* {
    margin: 0;padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

h1{
    color: #3196E8;
    font-family: 'Sigmar One', cursive;
    font-size: 5rem; 
    margin: 20px;
}

h2{
    font-family: 'Acme', sans-serif;
    margin: 20px 0px;
    padding: 0px 25px 25px 25px;
    font-size: 2rem;
}

p{
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
    margin: 10px 35px;
    padding: 20px;
}

.iconosSociales{
    margin: 5px;
    padding: 5px;

}



/*CONFIGURACION DEL GRID*/
#gridAreas{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "presentacion"
    "galeria"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 3fr 1fr 5fr 5fr 2fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/*ESTILOS HEADER*/

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    height: 150px;
    width: 150px;
    margin: 20px;
}

header ul{
    display: flex;
    flex-wrap: wrap;
}

/*ESTILOS NAV*/

nav{
    grid-area: nav;
    border-bottom: solid 1px black;
}

.itenNav{
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: black;
}

.itenNav:hover{
    background-color:rgb(51, 242, 114, 0.5);
    border-style: double;
}



/*ESTILOS SECCION PRESENTACION*/


#seccionPresentacion{
    grid-area: presentacion;
    display: flex;
    margin: 50px 5%;
    
}

#seccionPresentacion div img{
    padding: 20px;
    width: 450px; 
    height: 275px;
    border-radius: 1000px;

}

#seccionPresentacion div{
    width: 50%;
    margin: 40px 40px 80px 40px;
    text-align: center;
    
}


.resaltarPalabra{
    color: #EB1C1C;
}



/*GALERIA DE FOTOS*/

#galeria{
    grid-area: galeria;
    display: flex;
    justify-content: space-evenly;   
    margin: 50px 5%;
}

#galeria div{
    display: flex;
}

.galeriafotos{
    width: 300px;
    height: 230px;
    border-style: solid;
    border-color: #3196E8;
    margin: 5px;
}

/*ESTILOS FOOTER*/

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    

/*********************************** ESTILOS SERVICIOS.HTML **********************************************/

#gridAreasServicios{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "servicios"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 3fr 1fr 5fr 2fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#seccionServicios {
    grid-area: servicios;
    text-align: center;
    display: inline-block;
}

.imagenesServicios {
    display: flex;
    justify-content: space-evenly;
}

.fotosServicios{
    width: 300px;
    height: 230px;
    border-style: solid;
    border-color: #3196E8;
}






/************************************** NOSOTROS.HTML  ********************************************/

/*CONFIGURACION DEL GRID*/
#gridAreasNosotros{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "nosotros"
    "galeria"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 3fr 1fr 5fr 5fr 2fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#seccionNosotros{
    grid-area: nosotros;
    text-align: center;
}

.video{
    
    margin: auto;
    width: 400px;
    height: 400px;
}

/************************************** CONTACTO..HTML  ********************************************/

/*CONFIGURACION DEL GRID*/
#gridAreasContacto{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contacto"
    "galeria"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 3fr 1fr 5fr 5fr 2fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#seccionContacto{
    grid-area: contacto;
    text-align: center;
}

form{
    text-align: center;
    border-style: solid;
    border-color: #3196E8;
    border-radius: 10px;
    margin: 50px 400px;
    padding: 20px;
}

.cajaFormulario{
    width: 70%;
}

/***********************   ANIMACIONES   ********************/
/*secion incio*/
.animacionTitulo{
     
    animation-name: animacionPelones;
    animation-duration: 6s;

}

@keyframes animacionPelones{

    0%{
        transform: translateY( 900px )   
    }
    25%{
        transform: translateY(800px);
        transform: rotate(0.7turn);
    }
    70%{
        transform: translateY(400px);
        transform: rotate(0turn); 
    }
    100%{
        transform: translateY(0px);
    }

}

/*seccion servicios*/

.fotosServicios:hover{
    animation-name: animacionFotoServ ;
    animation-duration: 3s;
}

@keyframes animacionFotoServ{
    1%{
        transform: rotate(0.7turn);  
    }
    80%{
        transform: scale(2, 2);
    }
    100%{
        transform: scale(2, );
    }

}






/* MODO RESPONSIVE*/
/**********************    TABLET   *************************/
@media (min-width: 481px) and (max-width: 1023px){

    /*ESTILOS GENERALES*/

    h1 {
        color: #3196E8;
        font-family: 'Sigmar One', cursive;
        font-size: 4rem;
        margin: 5%;
        text-align: center;
        line-height: 1;
    }    

    h2 {
        font-family: 'Acme', sans-serif;
        margin: 5% 0PX;
        font-size: 2rem;
        padding: 10px;
    }

    p {
        font-family: 'Acme', sans-serif;
        font-size: 1.2rem;
        margin: 10px 0px;
        padding: 1%;
    }

    /*CONFIGURACION GRID*/
    #gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "presentacion"
        "galeria"
        "footer"
        ;
        grid-template-columns: 100% ;
        grid-template-rows: 3fr 1fr 5fr 5fr 2fr ;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    /*ESTILOS HEADER*/

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }

    /*ESTILOS PRESENTACION*/

    #seccionPresentacion {
        grid-area: presentacion;
        display: flex;
        margin: 20px 5%;
    }

    /*ESTILOS GALERIA*/

    #galeria {
        grid-area: galeria;
        display: flex;
        margin: 20px 5%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .galeriafotos {
        width: 300px;
        height: 230px;
        border-style: solid;
        border-color: #3196E8;
        margin: 10px;
    }

    /*****************   ESTILOS SERVICIOS.HTML ********************/


    
    #seccionServicios {
        grid-area: servicios;
        text-align: center;
        display: inline-block;
    }
    
    .imagenesServicios {
        display: flex;
        justify-content: space-evenly;
    }
    
    .fotosServicios{
        width: 300px;
        height: 230px;
        border-style: solid;
        border-color: #3196E8;
    }

    /******************   NOSOTROS.HTMS ***********************/

    #seccionNosotros{
        grid-area: nosotros;
        text-align: center;
    }
    
    .video{
        margin: auto;
        width: 300px;
        height: 300px;
    }

    #seccionNosotros div p{
        margin: 10px 20%;
    }

    /****************** CONTACTO.HTML ***********************/

    form{
        text-align: center;
        border-style: solid;
        border-color: #3196E8;
        border-radius: 10px;
        margin: 50px 200px;
        padding: 20px;
    }
    
}

/**********************  SMARTPHONE *************************/
@media (max-width: 480px){

    /*ESTILOS GENERALES*/

    h1 {
        color: #3196E8;
        font-family: 'Sigmar One', cursive;
        font-size: 3rem;
        margin: 5%;
        text-align: center;
        line-height: 1;
    }    

    h2 {
        font-family: 'Acme', sans-serif;
        margin: 5% 0PX;
        font-size: 1.7rem;
    }

    p {
        font-family: 'Acme', sans-serif;
        font-size: 1.2rem;
        margin: 10px 0px;
        padding: 5% 0%;
    }

    /*CONFIGURACION GRID*/
    #gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "presentacion"
        "galeria"
        "footer"
        ;
        grid-template-columns: 100% ;
        grid-template-rows: 3fr 1fr 5fr 5fr 2fr ;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    /*ESTILOS HEADER*/

    .logo {
        height: 20%;
        width: 20%;
        margin: 10px;
    }

    /*ESTILOS NAV*/

    .itenNav {
        border-style: solid;
        border-radius: 20px;
        margin: 3px;
        padding: 3px;
    }


    /*ESTILOS SECCION PRESENTACION*/
    #seccionPresentacion {
        grid-area: presentacion;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin: 5px 5%;
    }

    #seccionPresentacion div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        margin: 5%;
        text-align: center;
    }

    #seccionPresentacion div img {
        padding: 20px;
        width: 200px;
        height: 150px;
        border-radius: 500px;
    }

    /*ESTILOS GALERIA*/

    #galeria {
        grid-area: galeria;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px 5%;
    }

    .galeriafotos {
        width: 250px;
        height: 170px;
        border-style: solid;
        border-color: #3196E8;
        margin: 5px;
    }

    /*****************   ESTILOS SERVICIOS.HTML ********************/


    
    #seccionServicios {
        grid-area: servicios;
        text-align: center;
        display: inline-block;
    }
    
    .imagenesServicios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .fotosServicios {
        width: 150px;
        height: 150px;
        border-style: solid;
        border-color: #3196E8;
        margin: 1px;
    }

    /******************   NOSOTROS.HTMS ***********************/

    #seccionNosotros{
        grid-area: nosotros;
        text-align: center;
    }
    
    .video{
        margin: auto;
        width: 200px;
        height: 200px;
    }

    #seccionNosotros div p{
        margin: 10px 20%;
    }

    /****************** CONTACTO.HTML ***********************/

    form{
        text-align: center;
        border-style: solid;
        border-color: #3196E8;
        border-radius: 10px;
        margin: 50px 50px;
        padding: 20px;
    }


}




