/****************************************  ANIMACIONES   *************************************************/
/*secion incio*/
.animacionTitulo{
     
    animation-name: animacionPelones;
    animation-duration: 6s;

}

@keyframes animacionPelones{

    0%{
        transform: translateY( 900px )   
    }
    25%{
        transform: translateY(800px);
        transform: rotate(0.7turn);
    }
    70%{
        transform: translateY(400px);
        transform: rotate(0turn); 
    }
    100%{
        transform: translateY(0px);
    }

}

/*seccion servicios*/

.fotosServicios:hover{
    animation-name: animacionFotoServ ;
    animation-duration: 3s;
}

@keyframes animacionFotoServ{
    1%{
        transform: rotate(0.7turn); 
        z-index: 1;
    }
    80%{
        transform: scale(1.5, 1.5);
        z-index: 1;
    }
    100%{
        transform: scale(1.7, );
        z-index: 1;
    }

}
