/************************************** CONTACTO..HTML  ********************************************/

/*CONFIGURACION DEL GRID*/
#gridAreasContacto{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contacto"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 0.5fr 3fr 0fr; ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#seccionContacto{
    grid-area: contacto;
    text-align: center;
}

form{
    text-align: center;
    border-style: solid;
    border-color: $color1;
    border-radius: 10px;
    margin: 3vw 20%;
    padding: 20px;
}

.cajaFormulario{
    width: 70%;
}