/************************************** NORMAS.HTML  ********************************************/

#gridAreasNormas{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "normas"
    "preguntas"
    "footer"
    ;
    grid-template-columns: 100% ;
    grid-template-rows: 0fr 0fr 0.5fr 3fr 0fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#seccionNormas{
    grid-area: normas;
    text-align: center;
}

.containerCartelNormas{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;

}

.cartelNormas{
    border: black solid;
    border-radius: 10px;
    width: 15%;
    height: 75%;
    margin: 5px;
    
}

.cartelNormas {
    div{
        background: $color2;
        width: 100%;
        height: 25%; 
        display: flex;
        justify-content: center;
        align-items: center;  
        font-family: $tipografiaGeneral;
    }
}

.cartelNormas {
    div:nth-child(2){
        background: #74baf3;
        height: 75%;
    }
}

.cartelNormas {
    h3 {
        font-size: 2.5vw;
    }
}

#seccionPreguntas{
    grid-area: preguntas;
    text-align: center;
    margin: 10% 0% 0% 0%;
}

#seccionPreguntas {
    h2{
        background: $color2-ConOpacidad;
        border-radius: 15px;
        text-align: left;
        font-size: 1.9rem;
        text-decoration: underline;
        text-decoration-color: black;
        padding: 5px;
        margin: auto;  
    }
}

#seccionPreguntas {
    p{
        text-align: left;
        
    }
}

#seccionPreguntas {
    ul{    
        font-family: $tipografiaGeneral;
        font-size: 1.2rem;
        margin: 10px 35px;
        padding: 20px;
        text-align: left;        
    }     
}