/*CONFIGURACION DEL GRID*/
#gridAreas{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "presentacion presentacion2"
    "galeria galeria"
    "footer footer"
    ;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 2fr 1fr 5fr 5fr 2fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}




/*ESTILOS SECCION PRESENTACION*/


#seccionPresentacion{
    grid-area: presentacion;
    display: flex;
    height: 30vh;
    justify-content: center;
    margin: 50px 5%;
    
}

#seccionPresentacion {
    div{
        text-align: center;
        height: 100%;
    }
}

#seccionPresentacion2{
    grid-area: presentacion2;
    display: flex;
    justify-content: center;
    margin: 50px 5%;  
}

#seccionPresentacion2 {
    div{
        width: 100% ;
    }
}

#seccionPresentacion2 {
    div {
        img{
            padding: 20px;
            width: 100%;
            height: 100%;
            border-radius: 1000px;
        
        }
    }
}

.resaltarPalabra{
    color: #EB1C1C;
}



/*GALERIA DE FOTOS*/

#galeria{
    grid-area: galeria;
    
}

#galeria {
    div{
        display: flex;
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: $color1;
    list-style: none;
    box-sizing: border-box;
}

.galeria {
    li{
        margin: 5px;
    }
}
.galeria {
    img{
        width: 200px;
        height: 150px;
    }
    
}
.vistaGrande{
    display: none;
}


.vistaGrande:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vistaGrande {
    h3 {
        color: white;
        font-size: 30px;
        text-align: center;
        margin: 15px 0;
    }
}

.imagenVistas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%
    
}

.imagenVistas {
    a {
        color: #fff;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;
    }
}

.imagenVistas {
    a:nth-child(2){
        margin: 0;
        height: 100%;
    }
}

.imagenVistas {
    img{
        width: 500px;
        height: 100%;
        max-width: 100%;
        border: 7px solid #fff;
        box-sizing: border-box;
    }
}

.cerrar{
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 13px;
}
