<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Los pelones</title>
</head>
<body id="gridAreasContacto">
    <header>
        <img class="logo" src="/img/logo_small.png" alt="imagen del logo"> 
        <h1>Los Pelones</h1>
        <ul>
            <a href="" class="iconosSociales"><img src="/img/facebook.png" alt=""></a>
            <a href="" class="iconosSociales"><img src="/img/instagram.png" alt=""></a>
            <a href="" class="iconosSociales"><img src="/img/whatsapp.png" alt=""></a>
        </ul>
    </header>

    <nav>
        <span class="itenNav">
            <a href="../index.html" class="linkNav">Inicio</a>
        </span>
        <span class="itenNav">
            <a href="../views/servicios.html" class="linkNav">Servicios</a>
        </span>
        <span class="itenNav">
            <a href="../views/nosotros.html" class="linkNav">Nosotros</a>
        </span>
        <span class="itenNav">
            <a href="../views/contacto.html" class="linkNav">Contacto</a>
        </span>
    </nav>
    <section id="seccionContacto">
        <h2 class="subTitulos">contacto</h2>
        <div >
            <form action="" >
                <input type="text" name="nombre" placeholder="Nombre" class="cajaFormulario"> <br><br> 
                <input type="email" name="correo" placeholder="E-Mail" class="cajaFormulario"> <br><br> 
                <input type="text" name="asunto" placeholder="Asunto" class="cajaFormulario"> <br><br> 
                <textarea name="comentario" placeholder="Descripcion" rows="10" class="cajaFormulario"></textarea> <br><br>
                <button type="submit">ENVIAR</button>
             </form>
        </div>
    </section>


    <footer>
            <h3>Estamos en contacto</h2>
            <a href="" class="iconosSociales"><img src="/img/facebook.png" alt=""></a>
            <a href="" class="iconosSociales"><img src="/img/instagram.png" alt=""></a>
            <a href="" class="iconosSociales"><img src="/img/whatsapp.png" alt=""></a>
    </footer>

</body>
</html>